* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #ffffff;
    color: #111;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    border-bottom: 1px solid #eee;
}

.logo {
    font-weight: 600;
    font-size: 18px;
    color: #ff9bb3;
}

.links a {
    margin-left: 30px;
    text-decoration: none;
    color: #111;
    font-weight: 300;
    transition: 0.3s;
}

.links a:hover {
    color: #ff9bb3;
}

.hero h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}